*{
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
}

body{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    align-items: center;

}

.PageTitle{
    margin-top: 5%;
    font-size: 3rem;
    margin-bottom: 0;
}

.PageCaption{
    font-weight: 300;
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.Container {
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.LogicGateOptions {
    flex: 1;
}

.Plot {
    flex: 1;
}

input[type='radio'] {
    display: none;
}

label {
    position: relative;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1rem 3rem;
    display: block;
    align-items: center;
    text-align: center;
    width: 4.25rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

button {
    position: relative;
    font-size: 2rem;
    border: 2px solid white;
    background: #21918C;
    color: white;
    border-radius: 5px;
    padding: 1rem 3rem;
    display: block;
    align-items: center;
    text-align: center;
    width: 15rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

button:hover{
    background: white;
    color: #21918C;
}

input[type='radio']:checked + label {
    background-color: white;
    color: black;
}

.PlotImg {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}

.GateTitle {
    margin-bottom: 0;
}

.GateDesc {
    margin-top: 0;
}