<html>
    <head>
        <link rel='stylesheet' href="../../static/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
        <title>Logic Gates Visualiser</title>
    </head>
    <body>
        <h1>Logic Gates Visualiser</h1>
        <p>Select a logic gate to see a perceptrons corresponding decision boundary plotted!</p>
        <div class="Container">
            <div class="LogicGateOptions">
                <form method='POST' action="." name="form" value="form">
                    {% csrf_token %}
                    <input type="radio" name="gate" id="AND" value="ADD">
                    <label for="AND">AND</label><br/>
                    <input type="radio" name="gate" id="OR" value="OR">
                    <label for="OR">OR</label><br/>
                    <input type="radio" name="gate" id="XOR" value="XOR">
                    <label for="XOR">XOR</label>
                    <button type='submit'>PLOT</button>
                </form>
            </div>
            <div class='Plot'>
                {% block content %}
                    {% if chart %}
                        <img src="data:image/png;base64, {{chart|safe}}" />
                    {% endif %}
                {% endblock content %}
                {% block title %}
                    <h1>{{gate_type}} Gate</h1>
                {% endblock title %}
                {% block description %}
                    <p>{{desc}}</p>
                {% endblock description %}
            </div>
        </div>
    </body>
</html>